In [10]:
import pandas as pd

# Get the data

In [15]:
#df=pd.read_csv("path/filename")
df = pd.read_excel("Data/Northwind_products_suppliers.xlsx")
#df=pd.read_json("path/filename")

1. What data is in the first 4 rows?

2. Calculate how many rows and columns are in this file.   

3. What’s the maximum unit_price?

4. Use describe() to get the descriptive statistics for this file

5. Replace any NULL values in reorder_level with 0

6. Remove duplicate rows

7. Change "Gustaf's Kn√§ckebr√∂d" To "Gustaf's Knäckebröd"

8. Remove the column for website

9. Create a crosstab, with category_name in rows and country in columns

10. Create a pivot table with average unit_price by category

11. Create a pivot table with average reorder_level  by category (rows) and country (columns)

12. Create a groupby table with sum of discontinued products by company name  

13. Create a groupby table with maximum unit_price by country and category (both in rows

# Explore the data

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   product_id         78 non-null     int64
 1   product_name       78 non-null     object
 2   quantity_per_unit  78 non-null     object
 3   unit_price         78 non-null     float64
 4   units_in_stock     78 non-null     int64
 5   units_on_order     78 non-null     int64
 6   reorder_level      76 non-null     float64
 7   discontinued       78 non-null     int64
 8   category_name      78 non-null     object
 9   company_name       78 non-null     object
 10  country            78 non-null     object
 11  website            6 non-null      object
dtypes: float64(2), int64(4), object(6)
memory usage: 7.4+ KB

In [18]:
df.describe()

,product_id,unit_price,units_in_stock,units_on_order,reorder_level,discontinued
count,78.000000,78.000000,78.000000,78.000000,76.000000,78.000000
mean,38.525641,28.707821,40.205128,10.512821,12.631579,0.141026
std,22.617499,33.627362,36.010229,23.237757,10.907908,0.350301
min,1.000000,2.500000,0.000000,0.000000,0.000000,0.000000
25%,19.250000,13.062500,15.000000,0.000000,0.000000,0.000000
50%,38.500000,19.475000,26.000000,0.000000,12.500000,0.000000
75%,57.750000,33.137500,60.000000,0.000000,25.000000,0.000000
max,77.000000,263.500000,125.000000,100.000000,30.000000,1.000000

### 1. What data is in the first 4 rows?

In [19]:
df.head(4)

,product_id,product_name,quantity_per_unit,unit_price,units_in_stock,units_on_order,reorder_level,discontinued,category_name,company_name,country,website
0,1,Chai,10 boxes x 30 bags,18.0,39,0,10.0,1,Beverages,"Specialty Biscuits, Ltd.",UK,/
1,2,Chang,24 - 12 oz bottles,19.0,17,40,25.0,1,Beverages,Exotic Liquids,UK,NaN
2,2,Chang,24 - 12 oz bottles,19.0,17,40,25.0,1,Beverages,Exotic Liquids,UK,NaN
3,3,Aniseed Syrup,12 - 550 ml bottles,10.0,13,70,25.0,0,Condiments,Exotic Liquids,UK,""""""

In [ ]:
# df.tail(4)

### 2. Calculate how many rows and columns are in this file.

In [24]:
df

,product_id,product_name,quantity_per_unit,unit_price,units_in_stock,units_on_order,reorder_level,discontinued,category_name,company_name,country,website
0,1,Chai,10 boxes x 30 bags,18.00,39,0,10.0,1,Beverages,"Specialty Biscuits, Ltd.",UK,/
1,2,Chang,24 - 12 oz bottles,19.00,17,40,25.0,1,Beverages,Exotic Liquids,UK,NaN
2,2,Chang,24 - 12 oz bottles,19.00,17,40,25.0,1,Beverages,Exotic Liquids,UK,NaN
3,3,Aniseed Syrup,12 - 550 ml bottles,10.00,13,70,25.0,0,Condiments,Exotic Liquids,UK,""""""
4,4,Chef Anton's Cajun Seasoning,48 - 6 oz jars,22.00,53,0,0.0,0,Condiments,New Orleans Cajun Delights,USA,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
73,63,Vegie-spread,15 - 625 g jars,43.90,24,0,5.0,0,Condiments,"Pavlova, Ltd.",Australia,NaN
74,64,Wimmers gute SemmelknÃ¶del,20 bags x 4 pieces,33.25,22,80,30.0,0,Grains/Cereals,Plutzer LebensmittelgroÃŸmÃ¤rkte AG,Germany,NaN
75,65,Louisiana Fiery Hot Pepper Sauce,32 - 8 oz bottles,21.05,76,0,0.0,0,Condiments,New Orleans Cajun Delights,USA,NaN
76,66,Louisiana Hot Spiced Okra,24 - 8 oz jars,17.00,4,100,20.0,0,Condiments,New Orleans Cajun Delights,USA,NaN
77,69,Gudbrandsdalsost,10 kg pkg.,36.00,26,0,15.0,0,Dairy Products,Norske Meierier,Norway,NaN

In [3]:
# df.shape

In [ ]:
# df.columns

# Clean the data

In [ ]:
# df.isnull().sum() # tells us how many Nulls there are in the dataframe by column

In [ ]:
# df.isnull().sum().sum() # tells us how many Nulls there are in the dataframe

In [ ]:
# df_dropped =  df.dropna() #-- drop the rows with nulls

In [ ]:
# df.duplicated().sum() # counts the duplicates

In [ ]:
# df_nodupes = df.drop_duplicates() gets rid of the duplicate rows

In [ ]:
# df_lean =  df.drop(columns =['column1', 'column2', 'column3'])

In [ ]:
# fixed_df =  df.replace('what to replace','withwhat', regex=True)

# Add new columns

In [ ]:
# df_new['new_column']= df['column_with_numbers'] * 100

In [ ]:
# df_new['new_column']=df['existing_column'].map(dictionary) # new categories defined in dictionary

# Analyze

In [5]:
# aggregates
# df['column1'].sum()
# df['column2'].mean()
# df['column2'].min()
# df['column2'].max()

In [6]:
# pivot_df = df.pivot_table('what to aggregate', index='what to put in rows', aggfunc='sum')      
# pivot_df = df.pivot_table('what to aggregate', index='what to put in rows', aggfunc='max')

In [ ]:
#crosstab=pd.crosstab(df['row'], df['column'])  # count

In [ ]:
# df_grouped = df.groupby(['rows1','row2'])['columns'].mean()

In [ ]:
# joined_df =  df.join(other_dataframe.set_index('key'), on='foreign', how = 'inner')

# Visualize

In [8]:
from matplotlib import pyplot as plt
import seaborn as sns