<h1 style="text-align:center"> <span style="color:blue"> AirBnB</span> Data <span style="color:violet"> Analysis</span></h1>

In [ ]:
import pandas as pd

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import numpy as np

In [ ]:
df = pd.read_excel('Data/Airbnb.xlsx')

### Show top 10 data of excel sheet

In [ ]:
df.head(10)

### Change "neighbourhood_group" to "borough"

In [ ]:
df = df.rename(columns={'neighbourhood_group' : 'borough'})

In [ ]:
df.info()

In [ ]:
df.head()

<h2 style="text-align:center">Clean the data</h2>

### Check for duplicated rows

In [ ]:
df[df.duplicated(keep=False)]

### Remove duplicated rows

In [ ]:
df_nodupes = df = df.drop_duplicates()

print('There is now '+str(df_nodupes.duplicated().sum())+' duplicated rows.')

In [ ]:
df[df.duplicated(keep=False)]

### Check for uniqueness

In [ ]:
for c in [*df.head(0)]:
    print(df[c].unique())

In [ ]:
df['borough'].unique()

In [ ]:
df['neighbourhood'].unique()

In [ ]:
df['room_type'].unique()

### Change "Brooklynn" and "Privaate room" to "Brooklyn" and "Private room" respectively

In [ ]:
df = df.replace("Brooklynn", 'Brooklyn', regex=True)

df = df.replace("Privaate room", 'Private room', regex=True)

df.head()  # display head

In [ ]:
df['borough'].unique()

In [ ]:
df['room_type'].unique()

## Check for null values

In [ ]:
df.isnull().sum()

### Display/Select all Rows with NaN Values in the "reviews_per_month" column

In [ ]:
df[df['reviews_per_month'].isnull()]
# Or df[df['reviews_per_month'].isna()]

### Replace NaN values to 0 in  'reviews_per_month' column

In [ ]:
df['reviews_per_month'] = df['reviews_per_month'].fillna(value = 0)

In [ ]:
df['reviews_per_month'].isnull().sum()

### Replace NaN values to 0 in  'last_review' column

In [ ]:
df['last_review'] = df['last_review'].fillna(value = 0)

In [ ]:
df['last_review'].isnull().sum()

In [ ]:
df.isnull().sum()

In [ ]:
df[df['host_name'].isnull()]

### Use pandas. to_datetime() to Convert Integer to Date & Time Format

In [ ]:
# Below are some quick examples

# Convert integers to datetime format
# df['InsertedDate'] = pd.to_datetime(df['InsertedDate'], format='%Y%m%d')

# Use pandas.to_datetime() and DataFrame.apply() with lambda function
# df['InsertedDate'] = df['InsertedDate'].apply(lambda x: pd.to_datetime(str(x),format='%Y%m%d'))

# Use series.astype() method to convert integers to datetime format
# df['InsertedDate'] = pd.to_datetime(df['InsertedDate'].astype(str), format='%Y%m%d')

# Use pandas.to_datetime() to convert integers to "yymmdd" format
# df['InsertedDate'] = pd.to_datetime(df['InsertedDate'], format='%y%m%d')

# Changing integer values to dates and time format
# df['InsertedDate'] = pd.to_datetime(df['InsertedDate'], format='%Y%m%d%H%M%S')

### Convert "last_review" values to dateTime format

#### Assuming the int values provided in "last_review" are acounted since January 1, 1900, with January 1, 1900 being day 1

In [ ]:
df_clean = df

In [ ]:
df.head()

In [ ]:
df_clean['last_review'] = pd.to_datetime('1900-01-01') + pd.to_timedelta(df_clean['last_review'], unit='D')

In [ ]:
df_clean.head(10)

<h2> Save clean data to .csv file <h/2>

In [ ]:
# df_clean.to_csv('Airbnbclean.csv')

<br><h1 style="text-align:center"> Pivot Tables </h1>

In [ ]:
df_pivot = df_clean.pivot_table('price', ['host_id','borough','room_type'], aggfunc='max')

In [ ]:
df_pivot.head()

In [ ]:
df_pivotRating = df_clean.pivot_table('rating',['host_id','borough','room_type'], aggfunc='max')

In [ ]:
df_pivotRating.head()