# **Introduction to Pandas**

**Today we will talk about**

- Series
- Dataframes
- Exploring a dataset
- Working with nulls
- Transforming the data
- String Methods
- Joins
- Pivot Tables
- Crosstab 
- Group By

In [ ]:
import pandas as pd

**Pandas** is a powerful and popular open-source data manipulation and analysis library for Python.  
Developed by Wes McKinney in 2008, Pandas has become a go-to tool for data scientists, analysts, and developers due to its versatility and efficiency in handling large datasets.   
The name "Pandas" is derived from the term "panel data," which refers to multidimensional structured data sets commonly used in statistics and econometrics.   
The library is built on top of **NumPy**, another fundamental Python library for numerical computing, and together they form a potent combination for data handling and manipulation tasks.

At the core of Pandas are two essential data structures: **Series** and **DataFrame**.  
- The **Series** is a one-dimensional labeled array capable of holding any data type, such as integers, strings, or even custom objects. It is often likened to a labeled list or a column in a spreadsheet.  
- The **DataFrame** is a two-dimensional tabular data structure resembling a spreadsheet or a SQL table. It consists of multiple Series, each sharing the same index, allowing for efficient data alignment and manipulation. Pandas excels at handling missing data, transforming and reshaping data, grouping and aggregating data, and performing various data operations like filtering, merging, and joining with ease.

Pandas provides a plethora of functions to perform data analysis tasks quickly and intuitively. Whether you need to clean messy data, extract relevant information, or create insightful visualizations, Pandas simplifies the process. Its integration with other Python libraries like Matplotlib and Seaborn further enhances its capabilities, enabling users to produce appealing plots and charts directly from their datasets. Additionally, Pandas seamlessly integrates with databases and various file formats, such as CSV, Excel, SQL databases, and more, making it an indispensable tool in the data science workflow. As Pandas continues to evolve, it remains a fundamental library for data manipulation and analysis in Python, empowering users to extract valuable insights and make informed decisions from complex datasets.

In [ ]:
print(dir(pd))

In [ ]:
def print_non_capital_strings(lst):
    for string in lst:
        if string[0].isalpha() and not string[0].isupper() and string[0] != '_':
            print(string)

# Sample list of strings
my_list = dir(pd)

# Printing the strings that do not start with a capital letter or an underscore
print_non_capital_strings(my_list)

# **Series**

- One dimensional data structure
- Ordered, indexed, mutable
- Covenient Aggregations
- has a mutable index, similar to dictionary
- Element by element calculations, without loops

A one-dimensional labeled array that can hold data of various types, such as integers, strings, floating-point numbers, or even custom objects.  
Each element in the Series has an associated label called an index, which allows for easy and efficient data retrieval and manipulation.  
Series are the building blocks of DataFrames, another fundamental data structure in Pandas, and are commonly used to represent a single column or row of data.  
[For more information on pandas series click here](https://pandas.pydata.org/docs/reference/api/pandas.Series.html)

In [ ]:
# Creating a Series using a Python list
temperatures = pd.Series([28, 32, 30, 25, 29])
lst = [28, 32, 30, 25, 29]
#print(lst)
print(temperatures)
#print(type(temperatures))

In [ ]:
def print_pandas_methods(lst):
    for string in lst:
        if string[0].isalpha() and not string[0].isupper() and string[0] != '_':
            print(string)

# Sample list of strings
my_list = dir(temperatures)

# Printing the strings that do not start with a capital letter or an underscore
print_pandas_methods(my_list)

The Series is automatically assigned numeric indices by default.   
The data type of the Series elements is int64, as all the values in this example are integers.

In [ ]:
temperatures

In [ ]:
# temperatures[0]
# temperatures[1:3]
# temperatures[-2:]

In [ ]:
print(temperatures.head(3))

[For more information about .head() click here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html)

In [ ]:
print(temperatures.tail(4))

[For more information about .tail() click here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.tail.html#pandas.DataFrame.tail)

**Standard Aggregates**

In [ ]:
print(temperatures.sum())
print(temperatures.min())
print(temperatures.mean())
print(temperatures.max())
print(round(temperatures.std(),2))

**Custom Index Labels**

Pandas Series allows us to specify custom index labels to make the data more meaningful.   
Let's create a Series representing the sales data for different products:

In [ ]:
sales = pd.Series([7.95, 6.95, 8.00, 7.95], index=['Ham Sandwich', 'Turkey Sandwich', 'Chicken Parmesan', 'Roast Beef Sandwich'])

print(sales)

**Arithmetic Operations with Series**

Just like Numpy Arrays, Pandas Series support element-wise arithmetic operations.  
Let's add two Series representing the number of customers for two different months:

**Creating two Series**

In [ ]:
sandwich_prices = pd.Series([7.95, 6.95, 8.00, 7.95], index=['Ham Sandwich', 'Turkey Sandwich', 'Chicken Parmesan', 'Roast Beef Sandwich'])
sandwich_sales_quantity = pd.Series([100, 80, 900, 125], index=['Ham Sandwich', 'Turkey Sandwich', 'Chicken Parmesan', 'Roast Beef Sandwich'])
print("Sandwich Prices")
print(sandwich_prices)
print("Sales Quantity")
print(sandwich_sales_quantity)

**Multiplying the two Series**

In [ ]:
total_sandwich_sales = sandwich_prices * sandwich_sales_quantity
print(total_sandwich_sales)

The complexity of the arithmetic and the number of series is arbitrary so long as the rules of operations are followed and the sizes of the series are compatible.

In [ ]:
series1 = pd.Series([1, 2, 3, 4])
series2 = pd.Series(["a", "b", "c", "d"])
series3 = series1 * series2
print(series3)

# **Dataframes**

A two-dimensional tabular data structure that resembles a spreadsheet or a SQL table. It consists of rows and columns, where each column can hold data of different types. DataFrames are highly versatile and are capable of handling large datasets efficiently. They provide a powerful and easy-to-use interface for data manipulation, analysis, and exploration. DataFrames are widely used in data science, as they allow users to organize, clean, filter, aggregate, and visualize data with ease.  

[To learn more about dataframes click here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html)

In [ ]:
# Creating a DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 23, 22, 26, 24],
    'Grade': [85, 92, 78, 88, 95]
}

df = pd.DataFrame(data)

print(df)

Jupyter has a special format for displaying dataframes without printing.

In [ ]:
df

**Data Manipulation with DataFrames**

DataFrames offer various methods and functionalities for data manipulation.   
Let's add a new column to an existing DataFrame to calculate the total revenue for each product:

In [ ]:
# Existing DataFrame
data = {'Product': ['Xbox', 'Playstation', 'Switch', 'PC'],
        'Number of Sales': [200, 320, 408, 250]}

df = pd.DataFrame(data)
df

**Sorting**

In [ ]:
# We sorted our dataframe by 'Number of Sales' desc
df_sorted_by_number_of_sales = df.sort_values(by='Number of Sales', ascending= False)
# We reset the index so that top value was at index 0 and the other values were in order
df_sorted_by_number_of_sales = df_sorted_by_number_of_sales.reset_index(drop = True)
# final product
df_sorted_by_number_of_sales

In [ ]:
# Adding a new column to calculate total revenue
df_sorted_by_number_of_sales['Price'] = [300, 500, 1000, 500]
df_sorted_by_number_of_sales['Total Revenue'] = df_sorted_by_number_of_sales['Number of Sales'] * df_sorted_by_number_of_sales['Price']

df_sorted_by_number_of_sales

**Challenge**

Add a new column called "Total Revenue with Taxes" that shows what the total revenue would be if the New York City sales tax of 8.8% was applied.

In [ ]:
df_sorted_by_number_of_sales['Total Revenue with Taxes'] = df_sorted_by_number_of_sales['Total Revenue'] * 0.088 + df_sorted_by_number_of_sales['Total Revenue']
df_sorted_by_number_of_sales

# **Importing CSVs**

In [ ]:
#Import the CSV into pandas as dataframe 'df'
df = pd.read_csv("data/countries_of_the_world.csv")

[For more information pd.read_csv() click here](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)

-> Click **Shift + Tab** inside the function to see **"Help"**, it's list of possible inputs and options

In [ ]:
#df
#type(df)
#df.shape
#df.describe()
#df.info()
#df.tail(2)
#df.columns

**Display Max Rows and Max Columns**

In [ ]:
#pd.set_option('display.max_rows', 10)
#pd.set_option('display.max_columns', 10)

Import the provided data

In [ ]:
df.head(2)

[For more information about df.head() click here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html)

In [ ]:
df.tail(1)

[For more information about df.tail() click here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.tail.html#pandas.DataFrame.tail)

In [ ]:
df.describe() #Only useful for columns recognized as numeric

[For more information about df.describe() click here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html)

In [ ]:
df.info()

[For more information about df.info() click here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html)

In [ ]:
df.columns

## Removing columns

Create a new dataframe 'df1 by using the **df.drop()** function to remove the following columns: 'Arable (%)', 'Crops (%)', 'Other (%)', 'Climate', 'Agriculture'

- df1 = df.drop(columns = ['Column Name 1', 'Column Name 2', ...])

In [ ]:
df1 = df.drop(columns =['Arable (%)', 'Crops (%)', 'Other (%)', 'Climate', 'Agriculture'])
df1.info()

In [ ]:
df1.head(2)

## Converting data to appropriate type

Replace comma (,) character with the period (.) for all cells in the ' Pop. Density (per sq. mi.)' column
- df['column name'] = df['column name'].str.replace('old character','new character')  
- Use **df.head()** to confirm results

In [ ]:
df1['Pop. Density (per sq. mi.)'] = df1['Pop. Density (per sq. mi.)'].str.replace(',','.')

In [ ]:
df1.tail(2)

In [ ]:
#df1.info()

Because the comma (,) is used exclusively in numeric fields we can replace it for the whole table

- df = df.replace('old character','new character', regex=True)
- Use df.head() to confirm results

In [ ]:
df1 = df1.replace(',','.', regex=True)
df1.head(2)

In [ ]:
df1.info()

## **String Methods**

**Replace each string in pandas.Series**  
- str.replace() 

[For more information on str.replace() click here](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.replace.html)  

**Strip each string in pandas.Series**   
- str.strip()  
- str.lstrip()  
- str.rstrip()   

[For more information on str.strip() click here](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.strip.html)

**Convert the case of each string in pandas.Series** 
- str.lower()  
- str.upper()  
- str.capitalize()  
- str.title()

**Split strings around given separator/delimiter from the beginning, at the specified delimiter string**
- str.split()    

[For more information on str.strip() click here](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.split.html)

**Check, True or False, if record contains string**

- str.contains()

In [ ]:
df1.head(1)

In [ ]:
df1['Region'] = df1['Region'].str.title()

In [ ]:
df1.head(0)

#### How many countries have the name Africa or America in title

In [ ]:
df['Country'].str.contains('Africa|America').sum()

#### Show all rows containing string

In [ ]:
df[df['Country'].str.contains('Africa|America')]

## Converting Type for single column

In [ ]:
# convert "Pop Density" from string to float
df1['Pop. Density (per sq. mi.)'] = df1['Pop. Density (per sq. mi.)'].astype(float)
df1.head(2)

In [ ]:
df1.info()

In [ ]:
## Convert multiple columns  
df1 = df1.astype({'Coastline (coast/area ratio)':'float','Net migration':'float','Infant mortality (per 1000 births)':'float','GDP ($ per capita)':'float','Literacy (%)':'float','Phones (per 1000)':'float','Birthrate':'float','Deathrate':'float'})

In [ ]:
df1.info()

In [ ]:
#df1.describe()

In [ ]:
# Rounding is performed last on the whole output of the aggregation
print(round(df1['Population'].mean(),2))
print('The mean Area is: ' + str(round(df['Area (sq. mi.)'].mean(),2)) + " square miles.")

#### How many countries have the name Africa or America in title

In [ ]:
df1['Country']

In [ ]:
df1['Country'].str.contains('Africa|America')

In [ ]:
df1['Country'].str.contains('Africa|America').value_counts()

In [ ]:
df1['Country'].str.contains('Africa|America').value_counts()[True]

#### Show all rows containing string

In [ ]:
df1[df1['Country'].str.contains('Africa|America')] #SELECT * FROM df1 WHERE Country IN ('Africa','America')

# **Working with nulls**

#### **Identifying Nulls**

We can clearly see that though there are 235 rows in the table not all columns contain 235 non-null objects. This fact implies that there are Nulls present in those columns.  
Let's look for nulls with df.isnull()  
[For more information about df.isnull() click here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isnull.html)

In [ ]:
df.isnull() # This is not, in itself, super useful

In [ ]:
df.isnull().sum()

#### **Finding Nulls in a Column**

In [ ]:
df.isnull().sum().sum()

In [ ]:
df.loc[:,'Climate'].isnull().sum() # .sum() works because True is coded as 1 and False is coded as 0

In [ ]:
df.isnull().sum().sum() # gives us a total aggregate of nulls

#### **Display rows with nulls**

#### **There is no functional difference between the `isna()` and `isnull` methods**

##### For entire dataframe

In [ ]:
#df[df.isnull().any(axis=1)]
#df[df.isna().any(axis=1)]

##### For a column

In [ ]:
#df[df['Deathrate'].isnull()]
#df[df['Deathrate'].isna()]

#### **Replacing Nulls**

`df.fillna()` replaces NA/NaN values using the specified method.

[For more information about df.fillna() click here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html)

In [ ]:
df1 = df.fillna(value = 0)

In [ ]:
df1

In [ ]:
df1.isnull().sum().sum()

In [ ]:
df1.info()

#### **Removing Nulls**

`df.dropna()` removes columns or rows containing missing values.

In [ ]:
df2 = df.dropna()

In [ ]:
df2.info()

[For more information on the df.dropna() method click here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html)

#### **Identifying Duplicates**

`df.duplicated()` returns boolean Series denoting duplicate rows.

[For more information about df.duplicated() click here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html)

In [ ]:
df.duplicated()

In [ ]:
df.duplicated().sum()

#### **Extract duplicates**

In [ ]:
df.loc[df.duplicated()]
#df.loc[df.duplicated(),'Population':'Net migration']

#### **Removing Duplicates**

`df.drop_duplicates()` returns DataFrame with duplicate rows removed.

In [ ]:
df_no_dupes = df.drop_duplicates()

In [ ]:
df_no_dupes.duplicated().sum()

In [ ]:
df_no_dupes.shape

In [ ]:
df_no_dupes

##### Removing the duplicate rows resulted in a non sequential index where index 8 is missing. To reset the indes use `df.reset_index()`

In [ ]:
df_no_dupes.reset_index(inplace = True)

In [ ]:
df_no_dupes

# Drop rows

`df=df.drop(row_index,axis=0)`

# **Exploring a dataset**

Import the .csv file with the `pd.read_csv()`

In [ ]:
#df = pd.read_csv('data/module7_countries.csv')

In [ ]:
#df

#### **Locate Rows**

In [ ]:
df.loc[0:10:5] #this one is special!

#### df.loc Syntax
##### `df.loc[rows, columns]`

##### Display all values in one column

In [ ]:
df.loc[:,'Population']

##### **Display a range of columns**

Show Region and Net Migration

In [ ]:
df.loc[0:3,['Region','Net migration']]

Show Region through net Migration

In [ ]:
df.loc[0:3,'Region':'Net migration']

#### **Create new dataframe**

In [ ]:
new_dataframe = df.loc[:,'Region':'Net migration']

In [ ]:
new_dataframe

In [ ]:
new_dataframe.info()

#### **Locate Rows, Conditional**

**`df.loc[]`**

Access a group of rows and columns by label(s) or a boolean array.

`df.loc[]` is primarily label based, but may also be used with a boolean array.  

Allowed inputs are:

- A single label, e.g. 5 or 'a', (note that 5 is interpreted as a label of the index, and never as an integer position along the index). 

- A list or array of labels, e.g. ['a', 'b', 'c'].  

- A slice object with labels, e.g. 'a':'f'.

[For more information about df.loc[] click here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html)

#### **Locate numeric**

In [ ]:
df.loc[df['Area (sq. mi.)'] == 7686850]

In [ ]:
df.loc[df['Area (sq. mi.)']>7000000]

#### **Locate string**

In [ ]:
df.loc[df['Country'].str.contains("Tonga")]

In [ ]:
df.loc[df['Country'].str.contains("tonga", case = False)]

[For more information about string.contains() click here](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.contains.html)

#### **Locating by index**

#### **df.iloc**
property DataFrame.iloc[source]

Purely integer-location based indexing for selection by position.

.iloc[] is primarily integer position based (from 0 to length-1 of the axis), but may also be used with a boolean array.

#### df.iloc Syntax
##### `df.iloc[index_of_rows, index_of_columns]`

In [ ]:
df.iloc[0:10]

In [ ]:
df.iloc[0:5,1:4]

# **Transforming the data**

#### **Removing columns**

In [ ]:
df_no_dupes = df_no_dupes.drop(columns = ['index'])
df_no_dupes.info()

In [ ]:
df_no_dupes

Create a new dataframe 'df1 by using the **df.drop()** function to remove the following columns: 'Arable (%)', 'Crops (%)', 'Other (%)', 'Climate', 'Agriculture'

`df1 = df.drop(columns = ['Column Name 1', 'Column Name 2', ...])`

[For more information about df.drop() click here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html)

In [ ]:
df.columns

In [ ]:
df1 = df.drop(columns =['Arable (%)', 'Crops (%)', 'Other (%)', 'Climate', 'Agriculture'])
df1.info()

#### **Converting data to appropriate type**

Replace comma (,) character with the period (.) for all cells in the ' Pop. Density (per sq. mi.)' column
- df['column name'] = df['column name'].str.replace('old character','new character')  
- Use **df.head()** to confirm results

In [ ]:
df1['Pop. Density (per sq. mi.)'] = df1['Pop. Density (per sq. mi.)'].str.replace(',','.')

In [ ]:
df1.head()

Because the comma (,) is used exclusively in numeric fields we can replace it for the whole table

- df = df.replace('old character','new character', regex=True)
- Use df.head() to confirm results

In [ ]:
df1 = df1.replace(',','.', regex=True)
df1.head(2)

#### **Converting Type for single column**

In [ ]:
# convert "Pop Density" from string to float
df1['Pop. Density (per sq. mi.)'] = df1['Pop. Density (per sq. mi.)'].astype(float)

In [ ]:
df1.info()

#### **Convert multiple columns**

#### Would change whole table * if compatible with datatype
DataFrame.astype(dtype)

In [ ]:
df1 = df1.astype({'Coastline (coast/area ratio)':'float','Net migration':'float','Infant mortality (per 1000 births)':'float','GDP ($ per capita)':'float','Literacy (%)':'float','Phones (per 1000)':'float','Birthrate':'float','Deathrate':'float'})

In [ ]:
df.columns

In [ ]:
df1.info()

In [ ]:
df1.describe()

In [ ]:
# Rounding is performed last on the whole output of the aggregation
print(round(df1['Population'].mean(),2))
print('The mean Area is: ' + str(round(df['Area (sq. mi.)'].mean(),2)))

## **Joins**

Join columns with other DataFrame either on index or on a key column. Efficiently join multiple DataFrame objects by index at once by passing a list. Left join by default.

* Uses the first row of the right table as index

[For more information on joins click here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html)

In [ ]:
ss_orders = pd.read_csv('data/sample_superstore/sample_superstore_orders.csv')

In [ ]:
ss_returns = pd.read_csv('data/sample_superstore/sample_superstore_returns.csv')

In [ ]:
joined_df = ss_orders.join(ss_returns.set_index('Order ID'), on='Order ID', how = 'inner')

**How though?**

`how` accepts arguments that define how the tables are joined.

- left: use calling frame’s index (or column if on is specified)
- right: use other’s index.
- outer: form union of calling frame’s index (or column if on is specified) with other’s index, and sort it. lexicographically.
- inner: form intersection of calling frame’s index (or column if on is specified) with other’s index, preserving the order of the calling’s one.
- cross: creates the cartesian product from both frames, preserves the order of the left keys.

## **Merge**

- For combining data on common columns
- More flexible, and more complex than the Join method
- Many to one joins possible
- Side by side merge
- Inner join by default

In [ ]:
ss_orders = pd.read_csv('data/sample_superstore/sample_superstore_orders.csv')

In [ ]:
ss_returns = pd.read_csv('data/sample_superstore/sample_superstore_returns.csv')

In [ ]:
ss_merged = pd.merge(ss_orders, ss_returns)
ss_merged.head(1)

In [ ]:
ss_merged_on_order_id = pd.merge(ss_orders, ss_returns, on = 'Order ID')
ss_merged_on_order_id.head(1)

## **Pivot Table**

Produce a “pivot” table based on column values. Uses unique values from specified index / columns to form axes of the resulting DataFrame. This function does not support data aggregation, multiple values will result in a MultiIndex in the columns.

- `df.pivot()` reshapes data based on clumns

[For more information about df.pivot() click here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pivot.html)

- `df.pivot_table()` creates a pivot table as a dataframe allowing aggregation and tabulation

[For more information about df.pivot_table() click here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pivot_table.html)

In [ ]:
joined_df.head(1)

`df.pivot_table('what to aggregate', ['Column1','Column2'], aggfunc = aggregation)`

In [ ]:
pivot_table = joined_df.pivot_table('Sales', ['Region','State']) #default aggregation is mean
pivot_table.head()

`df.reset_index()` Resets the index, or a level of it.
Reset the index of the DataFrame, and use the default one instead. If the DataFrame has a MultiIndex, this method can remove one or more levels.

In [ ]:
pivot_table.reset_index().head()

[To learn more about df.reset_index() click here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reset_index.html)

In [ ]:
pivot_table1 = joined_df.pivot_table('Profit',['Category','Sub-Category'], aggfunc = ['max','min','sum'])
pivot_table1.head()

## **Group By**

A groupby operation involves some combination of splitting the object, applying a function, and combining the results. This can be used to group large amounts of data and compute operations on these groups.

In [ ]:
df1 = joined_df.groupby('Category')[['Profit','Sales']].sum()
df1

In [ ]:
df1.reset_index()

[To learn more about df.groupby() click here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html)

In [ ]:
df2 = joined_df.groupby(['Category','Sub-Category'])[['Profit','Sales']].sum()
df2

#### **Exporting data, the most important step?**

In [ ]:
# df.to_csv('data/new_and_imprved_dataset.csv')

#### **Appendix**

#### **Python Operators**

Before we get into datatypes, we'll talk about operators, which are how you will interact with each data type in python.

Python operators are divided into these groups:

* Arithmetic operators - used with numeric values to perform common mathematical operations
    * `+`, `-`, `*` (multiplication), `**` (exponentiation), `/` (float division), `//` (integer/floor division), `%` (modulo) 
* Assignment operators - used to assign values to variables
    * `=`, `+=` etc.
* Comparison operators - used to compare two variables
    * `==`, (equal) `!=` (not equal), `<=` (less than or equal), `<`, etc.
* Logical operators - used to combine conditional statements
    * `and`, `or`, `not`
* Identity operators - test if two objects are actually the same object (the same location in memory)
    * `is`, `is not`
* Membership operators - test if a sequence is present in an object
    * `in`, `not in`
* Bitwise operators - compare two binary (boolean) numbers
    * `&` (and), `|` (or), `~` (not), and others