<h1 style="text-align:center">Pandas, Datasets, and DataFrames</h1>

## Part 1

#### 1. Import pandas as “pd”.

In [1]:
import pandas as pd

#### 2. Create three lists with five elements each. The first list should contain employees' first names, the second their last names, and the third should list their ages. You can make up this data.

In [2]:
first_names = ['John', 'Marc', 'Juliette', 'Anthony', 'Stephanie']

In [3]:
last_names = ['Doe', 'Baptist', 'Jones', 'Brown', 'Saintus']

In [4]:
ages = [24, 37, 28, 43, 19]

#### 3. Create a data dictionary from the three lists.

In [5]:
employeesData = {"Fist Name": first_names, 
                 'Last Name': last_names, 
                  'Age': ages
                 }

print (employeesData)

{'Fist Name': ['John', 'Marc', 'Juliette', 'Anthony', 'Stephanie'], 'Last Name': ['Doe', 'Baptist', 'Jones', 'Brown', 'Saintus'], 'Age': [24, 37, 28, 43, 19]}

#### 4. Create a pandas Series from the employee age list.

In [6]:
age_series = pd.Series(ages)

print(age_series)

0    24
1    37
2    28
3    43
4    19
dtype: int64

#### 5. Determine the average employee age.

In [7]:
average_age = age_series.mean()

In [8]:
print('The average employee age is: {}'.format(average_age))

The average employee age is: 30.2

#### 6. Write the Series to a CSV file.

In [9]:
age_series.to_csv('Data/age_series.csv')

## Part 2

#### 1. Import  "21st century MLB Batting.csv"  into Python as a data frame.

In [10]:
df = pd.read_csv('Data/21st century MLB Batting.csv')

#### 2. Print the first five items in the data frame.

In [11]:
df.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO
0,abbotje01,2000,1,CHA,AL,80,215,31,59,15,1,3,29,2,1,21,38
1,abbotku01,2000,1,NYN,NL,79,157,22,34,7,1,6,12,1,1,14,51
2,abbotpa01,2000,1,SEA,AL,35,5,1,2,1,0,0,0,0,0,0,1
3,abreubo01,2000,1,PHI,NL,154,576,103,182,42,10,25,79,28,8,100,116
4,aceveju01,2000,1,MIL,NL,62,1,1,0,0,0,0,0,0,0,1,1

#### 3. Print the last six items in the data frame.

In [12]:
df.tail(6)

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO
28157,zimmebr01,2019,1,CLE,AL,9,13,1,0,0,0,0,0,0,0,1,7
28158,zimmejo02,2019,1,DET,AL,23,2,0,0,0,0,0,0,0,0,0,2
28159,zimmeky01,2019,1,KCA,AL,15,0,0,0,0,0,0,0,0,0,0,0
28160,zimmery01,2019,1,WAS,NL,52,171,20,44,9,0,6,27,0,0,17,39
28161,zobribe01,2019,1,CHN,NL,47,150,24,39,5,0,1,17,0,0,23,24
28162,zuninmi01,2019,1,TBA,AL,90,266,30,44,10,1,9,32,0,0,20,98

#### 4. Determine the average of the HR column.

In [13]:
print('The average of the HR column is:', df.HR.mean())

The average of the HR column is: 3.695593509214217

#### 5. Calculate the max of the SO column.

In [14]:
print('The max of the SO column is:', df['SO'].max())

The max of the SO column is: 223

#### 6. Save the data frame as an Excel file.

In [15]:
df.to_excel('Data/age_series.xlsx')

#### 7. Create a subset of the data frame for players with more than 40 HR.

In [16]:
df_grouped = df
df_grouped

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO
0,abbotje01,2000,1,CHA,AL,80,215,31,59,15,1,3,29,2,1,21,38
1,abbotku01,2000,1,NYN,NL,79,157,22,34,7,1,6,12,1,1,14,51
2,abbotpa01,2000,1,SEA,AL,35,5,1,2,1,0,0,0,0,0,0,1
3,abreubo01,2000,1,PHI,NL,154,576,103,182,42,10,25,79,28,8,100,116
4,aceveju01,2000,1,MIL,NL,62,1,1,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28158,zimmejo02,2019,1,DET,AL,23,2,0,0,0,0,0,0,0,0,0,2
28159,zimmeky01,2019,1,KCA,AL,15,0,0,0,0,0,0,0,0,0,0,0
28160,zimmery01,2019,1,WAS,NL,52,171,20,44,9,0,6,27,0,0,17,39
28161,zobribe01,2019,1,CHN,NL,47,150,24,39,5,0,1,17,0,0,23,24
28162,zuninmi01,2019,1,TBA,AL,90,266,30,44,10,1,9,32,0,0,20,98

In [17]:
# Grouping by 'playerID' and summing the 'HR' column
df_grouped = df.groupby('playerID')[['HR']].sum()

# Creating the subset with players having more than 40 HR
df_sub40 = df_grouped[df_grouped['HR']>40].reset_index()

print(df_sub40)

      playerID   HR
0    abreubo01  248
1    abreujo02  179
2    ackledu01   46
3    acunaro01   67
4    adamsma01  116
..         ...  ...
681   zaungr01   75
682  zeileto01   70
683  zimmery01  270
684  zobribe01  167
685  zuninmi01  104

[686 rows x 2 columns]

#### 8. Save this new subset as a json file.

In [18]:
df_sub40.to_json('Data/21st century MLB Batting.json', orient='records')  
# The orient='records' argument specifies the format of the JSON file. 'records' format will save each row of the DataFrame as a separate JSON object.