<h1 style="text-align:center"> Transforming Data </h1>

In [1]:
import pandas as pd

In [2]:
# import file

df = pd.read_excel('Data/Northwind_products_suppliers.xlsx')

### 1. What data is in the first 4 rows?

In [3]:
df.head(4)

,product_id,product_name,quantity_per_unit,unit_price,units_in_stock,units_on_order,reorder_level,discontinued,category_name,company_name,country,website
0,1,Chai,10 boxes x 30 bags,18.0,39,0,10.0,1,Beverages,"Specialty Biscuits, Ltd.",UK,/
1,2,Chang,24 - 12 oz bottles,19.0,17,40,25.0,1,Beverages,Exotic Liquids,UK,NaN
2,2,Chang,24 - 12 oz bottles,19.0,17,40,25.0,1,Beverages,Exotic Liquids,UK,NaN
3,3,Aniseed Syrup,12 - 550 ml bottles,10.0,13,70,25.0,0,Condiments,Exotic Liquids,UK,""""""

### 2. Calculate how many rows and columns are in this file.

In [4]:
rowNum =  len(df.index)  # df.shape[0]   OR len(df)

print('There are {} rows in this file'.format(rowNum))

There are 78 rows in this file

In [5]:
print('and there are {} columns in this file'.format(df.shape[1]))

and there are 12 columns in this file

In [6]:
df

,product_id,product_name,quantity_per_unit,unit_price,units_in_stock,units_on_order,reorder_level,discontinued,category_name,company_name,country,website
0,1,Chai,10 boxes x 30 bags,18.00,39,0,10.0,1,Beverages,"Specialty Biscuits, Ltd.",UK,/
1,2,Chang,24 - 12 oz bottles,19.00,17,40,25.0,1,Beverages,Exotic Liquids,UK,NaN
2,2,Chang,24 - 12 oz bottles,19.00,17,40,25.0,1,Beverages,Exotic Liquids,UK,NaN
3,3,Aniseed Syrup,12 - 550 ml bottles,10.00,13,70,25.0,0,Condiments,Exotic Liquids,UK,""""""
4,4,Chef Anton's Cajun Seasoning,48 - 6 oz jars,22.00,53,0,0.0,0,Condiments,New Orleans Cajun Delights,USA,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
73,63,Vegie-spread,15 - 625 g jars,43.90,24,0,5.0,0,Condiments,"Pavlova, Ltd.",Australia,NaN
74,64,Wimmers gute SemmelknÃ¶del,20 bags x 4 pieces,33.25,22,80,30.0,0,Grains/Cereals,Plutzer LebensmittelgroÃŸmÃ¤rkte AG,Germany,NaN
75,65,Louisiana Fiery Hot Pepper Sauce,32 - 8 oz bottles,21.05,76,0,0.0,0,Condiments,New Orleans Cajun Delights,USA,NaN
76,66,Louisiana Hot Spiced Okra,24 - 8 oz jars,17.00,4,100,20.0,0,Condiments,New Orleans Cajun Delights,USA,NaN
77,69,Gudbrandsdalsost,10 kg pkg.,36.00,26,0,15.0,0,Dairy Products,Norske Meierier,Norway,NaN

In [ ]:
df.shape

### 3. What’s the maximum unit_price?

In [ ]:
maxPrice = df['unit_price'].max()

# Find the index where the cell value is equal to 'maxPrice'
index = df[df['unit_price'] == maxPrice].index[0]

# Obtain the cell value in another column at the same index
productName = df.loc[index, 'product_name']

In [ ]:
print('The maximum unit_price is {} and product name is "{}"'.format(maxPrice, productName))

In [ ]:
df.loc[ df[df['unit_price'] == maxPrice].index[0], "product_id":'product_name']

### 4. Use describe() to get the descriptive statistics for this file

In [ ]:
df.describe()

### 5. Replace any NULL values in reorder_level with 0

In [ ]:
df['reorder_level'] = df['reorder_level'].fillna(0)

In [ ]:
df['reorder_level'].isnull().sum()

### 6. Remove duplicate rows

In [ ]:
#count duplicates
df.duplicated().sum()

In [ ]:
#Indentifying duplicates
df[df.duplicated(keep=False)]

#df.loc[df.duplicated()]    # Show duplicated rows

In [ ]:
# remove duplicate row(s)
df_nodupes = df.drop_duplicates()

print('There is now '+str(df_nodupes.duplicated().sum())+' duplicated rows.')

### 7. Change "Gustaf's Kn√§ckebr√∂d" To "Gustaf's Knäckebröd"

In [ ]:
df=df.replace('Gustaf\'s Kn√§ckebr√∂d', "Gustaf's Knäckebröd", regex=True)

In [ ]:
# Find the column name with the existing value
# column_name = df.eq("Gustaf's Knäckebröd").idxmax(axis=1)
column_name = (df == "Gustaf's Knäckebröd").stack().reset_index().loc[0, 'level_1']

# Get the index value for the column with the existing value
index_value = df.loc[df[column_name] == "Gustaf's Knäckebröd"].index[0] if len(df.loc[df[column_name] == "Gustaf's Knäckebröd"].index) > 0 else None

# Print the index value if it exists
if index_value is not None:
    print("Index value:", index_value)
else:
    print("No rows found with the existing value.")


print(index_value)

### 8. Remove the column for website

In [ ]:
df_lean = df.drop(columns = 'website')

In [ ]:
df_lean

### 9.Create a crosstab, with category_name in rows and country in columns

In [ ]:
pd.crosstab(df_lean['category_name'], df_lean['country'])

In [ ]:
size = pd.crosstab(df_lean['category_name'], df_lean['country']).shape
print('The crosstab between category_name and country is of size:', size[0], 'by', size[1])

### 10 . Create a pivot table with average unit_price by category

In [ ]:
pivot_df = df_lean.pivot_table('unit_price', index='category_name',aggfunc='mean')
pivot_df

### 11. Create a pivot table with average reorder_level  by category (rows) and country (columns)

In [ ]:
pivot_df2 = df_lean.pivot_table('reorder_level', ['category_name', 'country'])
pivot_df2

# pivot_table = pd.pivot_table(df, values='reorder_level', index='category_name', columns='country', aggfunc='mean') ---> ALTERNATIVELY

In [ ]:
# Alternatively, we could do:
pivot_table = pd.pivot_table(df_lean, values='reorder_level', index='category_name', columns='country', aggfunc='mean')
pivot_table

### 12. Create a groupby table with sum of discontinued products by company name

In [ ]:
groupby_sum = df_lean.groupby('company_name')['discontinued'].sum()
groupby_sum

### 13. Create a groupby table with maximum unit_price by country and category (both in rows)

In [ ]:
groupby_max_unit = df_lean.groupby(['country', 'category_name'])['unit_price'].max()
groupby_max_unit

#groupby_max_unit.reset_index()